.footer__text {
    font-size: 20px;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 425px) {
    .footer__text {
        font-size: 15px;
    }
}