.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #5B6983;
    transition: 0.5s linear;
    padding: 20px;
    box-sizing: border-box;
}

.item:last-of-type {
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .item {
        margin: 0 auto 25px;
    }
}