.item_type_progress {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-bottom: 25px;
    border-radius: 10px;
    background-color: #1b6ce6;
    transition: 0.5s linear;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.item_type_progress:last-of-type {
    margin: 0;
}