.field {
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 425px) {
    .field {
        max-width: 100%;
        max-height: 400px;
        margin: 0 auto;
        order: 0;
    }
}